* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #709fb0;
}
.app {
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: #f05454;
}
ul {
  width: 600px;
  margin: auto;
  margin-top: 1rem;
}
.app-formControl {
  display: flex;
  align-items: center;
  margin-bottom: 1rem !important;
}
.app-input {
  font-size: 1.3rem !important;
  color: rgb(255, 255, 255) !important;
}
.app-button {
  margin-left: 1rem !important;
}
